/* about section */

#about h2 {
  color: #ff2828;
}

#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Sansita', sans-serif;
  font-size: 2vw;
}

#bio-photo {
  align-items: center;
  width: 80%;
  min-width: 300px;
}


#photo {
  shape-outside: circle(50%);
  float: left;
  border: 2px solid #bbb;
  border-radius: 50%;
  width: 20vw;
  min-width: 100px;
  max-width: 100%;
  height: 20vw;
  min-height: 100px;
  max-height: auto;
  padding: 0.5vw;
  margin: 0 20px 20px 20px;
}

#about-text-container {
  display: inline;
  flex-direction: row;
}

#about-text p {
  padding: 0;
  margin: 0;
}

/* tech  */

#tech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tech-container p {
  margin: 0.5vw 0;
}

#tech-container ul {
  font-size: 1.7vw;
  column-count: 2;
  color: #23ddff;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

#tech-container li {
  margin: 0 1vw 0 1vw;
  width: 10vw;
  text-align: left;
  padding: 0 0 0 0.5vw;
}

#tech-container li::marker {
  content: "◈";
}

@media screen and (max-width: 1250px) {

  #photo {
    margin: 15px;
  }

  #about-container {
    font-size: 3.6vw;
  }

  #tech-container {
    font-size: 3.6vw;
    width: 80%;
  }

  #tech-container li {
    font-size: 3vw;
  }
}

@media screen and (max-width: 602px) {

  #about {
    height: 84vh;
  }

  #tech-container li {
    margin: 0 1vw 0 1vw;
    width: 100%;
    text-align: left;
    padding: 0 0 0 0.5vw;
  }

  #tech-container ul {
    font-size: 3.3vw;
  }
}