/* whole page */
* {
  background-color: transparent;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-width: 350px;
}

#window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0) 75%, #0f3005, #082d34);
  color: #bbb;
}

a {
  color: #bbb;
}

.solid {
  border-top: 3px solid #bbb;
  border-radius: 100%;
  width: 80%;
  margin: 1vh 0 1vh 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  min-width: 80%;
  height: 110vh;
  min-height: fit-content;
  /* margin-bottom: 8%; */
}

.section-title {
  font-family: 'Rum Raisin', sans-serif;
  font-size: 7vw;
  text-transform: uppercase;
  margin: 0 0 5% 0;
  padding: 0;
  /* height: 10%; */
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 20px 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border: 3px solid #4fff19 inset;
}

::-webkit-scrollbar-thumb {
  background: #34a412;
  border: 3px solid #4fff19 inset;
}

::-webkit-scrollbar-thumb:hover {
  background: #4fff19
}

@media screen and (max-width: 602px) { 
  .section-title {
    font-size: 35px;
    margin: 0;
  }
}