/* Contact section */

.sign-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 13%;
  min-height: 13%;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 1% 0 1% 0;
  border-radius: 10px;
}

.sign-panel a {
  text-decoration: none;
}

.spacer {
  margin-left: 1%;
}

.contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 5vw;
  font-weight: 900;
  width: auto;
  min-width: 65%;
  height: 90%;
  min-height: 90%;
  border-radius: 15px;
}

#contact h2 {
  color: #23ddff
}

#contact-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-width: 80%;
  height: 100%;
  min-width: 100%;
}

#links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

#links-container p {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 3vw;
}


#link-1 {
  top: 0;
  box-shadow: 
    0px 5px 0 0 #601282,
    0px 5px 0 0 #1f0629 inset;
}

#link-1 a {
  color: #bd24ff;
}
#link-1 div {
  width: 5%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent 0% 50%, #bd24ff 50% 70%, transparent 70% 100%);
  margin-right: 2%;
}

#link-1:hover {
  top: 2px;
  box-shadow: 
    0px 3px 0 0 #601282,
    0px 5px 0 0 #1f0629 inset;
}

#link-2 {
  box-shadow: 
    0px 5px 0 0 #02aec8,
    0px 5px 0 0 #001f24 inset;
}

#link-2 a {
  color: #23ddff
}

#link-2 div {
  width: 10%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent 0% 50%, #23ddff 50% 70%, transparent 70% 100%);
  margin-right: 2%;
}

#link-2:hover {
  top: 2px;
  box-shadow: 
    0px 3px 0 0 #02aec8,
    0px 5px 0 0 #001f24 inset;
}

#link-3 {
  box-shadow: 
    0px 5px 0 0 #239301,
    0px 5px 0 0 #061800 inset;
}

#link-3 a {
  color: #4fff19;
}

#link-3 div {
  width: 15%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent 0% 50%, #4fff19 50% 70%, transparent 70% 100%);
  margin-right: 2%;
}

#link-3:hover {
  top: 2px;
  box-shadow: 
    0px 3px 0 0 #239301,
    0px 5px 0 0 #061800 inset;
}

#link-4 {
  box-shadow: 
    0px 5px 0 0 #ffe21b,
    0px 5px 0 0 #2d2805 inset;
}

#link-4 a {
  color: #ffe21b
}

#link-4 div {
  width: 20%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent 0% 50%, #ffe21b 50% 70%, transparent 70% 100%);
  margin-right: 2%;
}

#link-4:hover {
  top: 2px;
  box-shadow: 
    0px 3px 0 0 #c89a02,
    0px 5px 0 0 #2d2805 inset;
}

#link-5 {
  box-shadow: 
    0px 5px 0 0 #ca6800,
    0px 5px 0 0 #371c00 inset;
}

#link-5 a {
  color: #ff8400;
}

#link-5 div {
  width: 25%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent 0% 50%, #ff8400 50% 70%, transparent 70% 100%);
  margin-right: 2%;
}

#link-5:hover {
  top: 2px;
  box-shadow: 
    0px 3px 0 0 #ca6800,
    0px 5px 0 0 #371c00 inset;
}

#link-6 {
  box-shadow: 
    0px 5px 0 0 #b30000,
    0px 5px 0 0 #2f0000 inset;
}

#link-6 a {
  color: #ff2828
}

#link-6 div {
  width: 30%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent 0% 50%, #ff2828 50% 70%, transparent 70% 100%);
  margin-right: 2%;
}

#link-6:hover {
  top: 2px;
  box-shadow: 
    0px 3px 0 0 #b30000,
    0px 5px 0 0 #2f0000 inset;
}

@media screen and (max-width: 1250px) {
  #contact {
    height: 90vh;
    min-height: 90vh;
  }

  #contact-container {
    justify-content: flex-start;
  }

  .sign-panel {
    height: 9%;
    min-height: 9%;
  }

  .contact-link {
    text-shadow: none;
  }

  #links-container p {
    font-size: 3.6vw;
  }
}

