/* Contact section */

.sign-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  width: 80%;
  height: 40%;
  margin: 1%;
}

.sign-panel a {
  text-decoration: none;
  color: black;
}

.contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  border-radius: 15px;
}

.contact-link:hover {
  opacity: 75%;
}

.right-arrow {
  border-top: 3vw solid transparent;
  border-left: 5.3vw solid black;
  border-bottom: 3vw solid transparent;
  position: absolute;
  right: 0;
}

.left-arrow {
  border-top: 3vw solid transparent;
  border-right: 5.3vw solid black;
  border-bottom: 3vw solid transparent;
  position: absolute;
  left: 0;
}

#contact h2 {
  color: #23ddff
}

#contact-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-width: 80%;
  height: 100%;
  min-width: 100%;
}

#links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

#github-link {
  background: linear-gradient(90deg, #601282 0 90%, transparent 90% 100%);
  color:#ffffff;
}

#github-link div {
  border-left-color: #601282;
}

#linkedin-link {
  background: linear-gradient(90deg, #02aec8 0 90%, transparent 90% 100%);
  color: #000000
}

#linkedin-link div {
  border-left-color: #02aec8;
}

#huntr-link {
  background: linear-gradient(90deg, #239301 0 90%, transparent 90% 100%);
  color: #000000
}

#huntr-link div {
  border-left-color: #239301;
}

#musicsite-link {
  background: linear-gradient(-90deg, #c89a02 0 90%, transparent 90% 100%);
  color: #000000
}

#musicsite-link div {
  border-right-color: #c89a02;
}

#craftsite-link {
  background: linear-gradient(-90deg, #ca6800 0 90%, transparent 90% 100%);
  color: #000000
}

#craftsite-link div {
  border-right-color: #ca6800;
}

#youtube-link {
  background: linear-gradient(90deg, #b30000 0 90%, transparent 90% 100%);
  color: #ffffff
}

#youtube-link div {
  border-left-color: #b30000;
}

