/* experience section */
#experience {
  font-family: 'Sansita', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#experience h2 {
  color: #ff8400;
}

#experience-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 70vw;
  height: 70vh;
  position: relative;
}

#side-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

#side-menu a {
  font-size: 1.4vw;
  text-align: right;
  color: #bbb;
  width: 100%;
  border-left: 0.2vw dashed #23ddff;
  box-sizing: border-box;
  cursor: pointer;
  padding: 15% 5% 2% 0;
  margin-right: 5%;
  transition: 0.5s;
}

#side-menu a:hover {
  background: #1a1c1d;
  color: #aff2fe;
  border-left: 0.2vw solid #23ddff;
  transition: 0.5s;
}

#side-menu a.active {
  background: #1a1c1d;
  color: #ffe21b;
}

#experience-text {
  width: 80%;
  height: 100%;
}

.experience-blurbs {
  font-size: 1.6vw;
  margin: 0;
}

.experience-cards {
  display: none;
  box-sizing: border-box;
  height: 100%;
  margin-left: 5%;
  animation: fadeIn 0.5s;
}

.experience-cards h1 {
  font-size: 1vw;
  margin: 0;
  transition: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* set default tab to display */
#flatiron {
  display: inherit;
}

.languages {
  color: #ff2828
}