/* All of the styling for the data that populates the viewer */

.tool-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.1vw;
  height: 15%;
  background: #0f0f0f;
  border: 1px solid #1a1919;
  border-radius: 8px;
  padding: 8px 0 8px 8px;
  box-shadow:
    5px 0px 5px #0f3005 inset,
    0px 5px 5px #0f3005 inset,
    -5px 0px 5px #071702 inset,
    0px -5px 5px #071702 inset;
}

.tool-link p {
  width: 88%;
}

.tool-link a {
  width: 88%;
  color: #4fff19;
  text-decoration: none;
  padding: 10px auto 10px auto;
}

.tool-link a:hover {
  color: #ffc400;
  text-shadow:
    5px 0px 5px #554100,
    0px 5px 5px #554100,
    -5px 0px 5px #554100,
    0px -5px 5px #554100;
  padding: 10px auto 10px auto;
}

.black-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  border-radius: 7vh;
  background: #0f0f0f;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 20%;
  min-height: 40px;
  background: #0f0f0f;
  border-bottom: 1px solid #4fff19;
  border-radius: 15px 15px 0 0;
  padding: 5px;
  overflow: hidden;
}

#title h2 {
  font-size: 1.5vw;
  white-space: nowrap;
  line-height: 100%;
  text-overflow: clip;
  text-align: left;
  width: 100%;
  padding-left: 5px;
  transform: translateX(0%);
}

.animate-title {
  position: absolute;
  animation: scroll-left 4s infinite ease-in-out;
  animation-direction: alternate;
  animation-delay: 2s;
}

#text {
  height: 76%;
  min-height: 76%;
  font-size: 1vw;
  border-radius: 0 0 15px 15px;
  padding: 5px auto 0px 5px;
}

#text p {
  width: 88%;
  height: 94%;
  padding-left: 5px;
  overflow: auto;
  margin-top: 2%;
}

#screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  border: 2px solid #272626;
  box-shadow:
    5px 0px 5px #4e2d0a,
    -5px 0px 5px #4e2d0a,
    0px 5px 5px #4e2d0a,
    0px -5px 5px #4e2d0a;
  border-radius: 7vh;
  background: transparent;
}

#screen-efx {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow:
    5px 5px 10px #474646 inset,
    15px 15px 20px #272626 inset,
    -10px -10px 15px #1a1919 inset,
    -20px -20px 30px #272626 inset;
  border-radius: 7vh;
}

#screen-flare {
  position: absolute;
  top: 0;
  left: 0;
  width: 9%;
  height: 30%;
  box-shadow:
    10px 10px 20px 7px #fff inset,
    -8px -8px 20px 7px #fff;
  background-color: transparent;
  opacity: 3%;
  border-radius: 50%;
  rotate: 30deg;
  margin: 10vh;
}

#project-img {
  width: 99%;
  min-width: 507px;
  /* height: 70%; */
  max-height: 550px;
  min-height: 285px;
  border-radius: 1%;
}

#image-efx {
  position: absolute;
  width: 99%;
  height: 70%;
  border-radius: 1%;
}

#text-container {
  height: 66%;
  min-height: 66%;
  background: #969090;
  border: 1px solid #1a1c1d;
  margin: 2px;
}

#description-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 60%;
  min-height: 60%;
  background: #0f0f0f;
  border: 1px solid #1a1919;
  border-radius: 15px;
  margin: 2.5% 0 1.5% 0;
}

#tool-link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 95%;
  height: 35%;
  min-height: 35%;
  margin: 2.5% 0 0.5% 0;
}

#tool-link-1 {
  overflow: hidden;
}

#tool-link-1 p {
  line-height: 200%;
  text-overflow: clip;
  text-align: left;
  width: 100%;
  
}

.animate-tool {
  position: relative;
  animation: scroll-up 4s infinite ease-in-out;
  animation-direction: alternate;
  animation-delay: 2s;
  transform: translateY(25%);
}

@keyframes scroll-up {
  0% {
    transform: translateY(25%);
  }

  33% {
    transform: translateY(25%);
  }

  66% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(-25%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  33% {
    transform: translateX(0%);
  }

  66% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(-5%);
  }
}

/* Tablets */
@media screen and (max-width: 1250px) {
  .black-bar {
    width: 100%;
    min-width: 100%;
    height: 90%;
    min-height: 90%;

  }

  #screen {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }

  #project-img {
    width: 98%;
    min-width: 98%;
    height: 96%;
    min-height: 96%;
    border-radius: 70px;
  }

  #title h2 {
    font-size: 3.4vw;
  }

  #text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    min-width: 96%;
    height: 60%;
    min-height: 60%;
    margin: 8px;
  }

  #description-container {
    width: 45%;
    min-width: 45%;
    height: 90%;
    min-height: 90%;
    margin: 2%;

  }

  #text {
    font-size: 1.8vw;
    height: 76%;
    min-height: 76%;
  }

  #tool-link-container {
    width: 45%;
    min-width: 45%;
    height: 90%;
    min-height: 90%;
    margin: 2%;
  }

  .tool-link {
    font-size: 1.9vw;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }

    33% {
      transform: translateX(0%);
    }

    66% {
      transform: translateX(-30%);
    }

    100% {
      transform: translateX(-30%);
    }
  }
  
}

@media screen and (max-width: 768px) {
  #project-img {
    border-radius: 55px;
  }

  #text {
    height: 74%;
    min-height: 74%;
  }
}

/* Mobile */
@media screen and (max-width: 602px) {
  .black-bar {
    width: 90%;
    min-width: 90%;
    height: 90%;
    min-height: 90%;
    border-radius: 35px;
  }

  #screen {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-radius: 30px;
  }

  #screen-efx {
    width: 101%;
    min-width: 101%;
    height: 101%;
    min-height: 101%;
    border-radius: 30px;
  }

  #project-img {
    width: 98%;
    min-width: 98%;
    height: 96%;
    min-height: 96%;
    border-radius: 30px;
  }

  #title h2 {
    font-size: 3.4vw;
  }

  #text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    min-width: 98%;
    height: 98%;
    min-height: 98%;
    border-radius: 15px;
    margin: 8px;
  }

  #description-container {
    width: 94%;
    min-width: 94%;
    height: 70%;
    min-height: 70%;
    margin: 2%;

  }

  #text {
    font-size: 1.8vw;
    height: 76%;
    min-height: 76%;
  }

  #tool-link-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    min-width: 94%;
    height: 20%;
    min-height: 20%;
    margin: 2%;
  }

  .tool-link {
    font-size: 1.9vw;
  }

}