/* projects section styling*/

/* #projects {
  display: flex;
  flex-direction: column;
  font-family: 'Sansita', sans-serif;
  height: 100vh;
} */

#projects h2 {
  color: #4fff19;
}

#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  width: 80%;
  height: 80%;
  min-height: 90vh;
}

/* Medium screens */
@media screen and (max-width:1600px) {
  #project-content-container {
    align-items: stretch;
  }
}

@media screen and (max-width: 1450px) {

}

/* Small screens */
@media screen and (max-width: 1250px) {

}

/* Tablets */
@media screen and (max-width: 1100px) {
}

/* Phones */
@media screen and (max-width: 600px) {}