/* projects section styling*/

#projects {
  height: fit-content;
  min-height: fit-content;
}

#projects h2 {
  color: #4fff19;
}

#project-content-container {
  height: fit-content;
  min-height: fit-content;
}

#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
}


/* Medium screens */


@media screen and (max-width:768px) {

}

@media screen and (max-width: 602px) {
    #project-content-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 290px;
    }
    #projects-container {
      width: 100%;
      min-width: 100%;
    }
}