/* All of the styling for the project viewer itself */

.external-container-shadows {
  box-shadow:
    5px 0px 5px #4e2d0a inset,
    3px 3px 5px #6f410f inset,
    0px 5px 5px #4e2d0a inset,
    -5px 0px 5px #4e2d0a inset,
    -3px -3px 5px #3a2208 inset,
    0px -5px 5px #4e2d0a inset;
}

.internal-container-shadows {
  box-shadow:
    5px 0px 5px #4e2d0a,
    -5px 0px 5px #4e2d0a,
    0px 5px 5px #4e2d0a,
    0px -5px 5px #4e2d0a;
}

.panel-shadows {
  box-shadow:
    3px 0px 2px #0f0f0f inset,
    0px 3px 2px #0f0f0f inset,
    -3px 0px 2px #484545 inset,
    0px -3px 2px #484545 inset;
}

.text-container-shadows {
  text-shadow:
    5px 0px 5px #0f3005,
    0px 5px 5px #0f3005,
    -5px 0px 5px #0f3005,
    0px -5px 5px #0f3005;
}

.internal-text-container-shadows {
  box-shadow:
    5px 0px 5px #0f3005 inset,
    0px 5px 5px #0f3005 inset,
    -5px 0px 5px #071702 inset,
    0px -5px 5px #071702 inset;
}

.text-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  color: #4fff19;
  width: 95%;
}

/* External containers */

#chasis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95%;
  border-radius: 15px;
  background: #5e360c;
}

#screen-container {
  width: 80%;
  height: 95%;
  min-height: 95%;
  border-radius: 75px;
  margin: 15px;
}

#control-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 95%;
  min-height: 95%;
  border: 2px solid #272626;
  background-color: #1a1c1d;
  margin: 15px;
}

/* Control Panel */

#control-panel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 30%;
  min-height: 30%;
  color: #0f0f0f;
  background: #969090;
  margin: 8px;
}

#selector-indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  min-height: 100%;
  border-right: 1px solid black;
}

#selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 80%;
  min-height: 80%;
}

#channel-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-width: 100%;
  height: 20%;
  min-height: 20%;
  margin: 7% 2%;
}

#indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-width: 90%;
  height: 78%;
  min-height:78%;
  padding: 2px;
  margin: 2px;
}

#indicators {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 25%);
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

/* Power Container */

#power-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  min-height: 175px;
}

#switch-light-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 100%;
  min-height: 175px;
}

#power-switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 98%;
  min-height: 175px;
}

/* Power Light */

#power-light-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#power-light {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
  box-shadow:
    1px 3px 5px 2px #474646,
    4px 6px 6px 0px #bb8282 inset,
    8px 12px 12px 0px #936060 inset,
    -6px -4px 6px 0px #4d0c0c inset,
    -12px -8px 12px 0px #851414 inset;
  background: #811414;
  border-radius: 50%;
  transition: 2000ms;
  transition-delay: 1000ms
}

#power-light.pwr-on {
  top: 0px;
  background: #ff2828;
  box-shadow:
    1px 3px 20px 8px #b11c1cd0,
    4px 6px 6px 0px #bb8282 inset,
    8px 12px 12px 0px #936060 inset,
    -6px -4px 6px 0px #851414 inset,
    -12px -8px 12px 12px #851414 inset;
}

#middle-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 85%;
  border: 2px solid #4d0c0c;
  border-radius: 50%;
}

#inner-ring {
  width: 80%;
  height: 80%;
  border: 2px solid #4d0c0c;
  border-radius: 50%;
}

#power-light.off {
  top: 0px;
}

/* Small screens */
@media screen and (width: 1280px) and (height: 1040px) {
  #chasis {
    height: 70%;
  }
}

/* Tablets */
@media screen and (max-width: 1250px) {
  #chasis {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-width: 100%;
    height: 85%;
    min-height: 85%;
  }

  #screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
    min-width: 96%;
    height: 50%;
    min-height: 50%;
    border-radius: 15px;
    margin: 5px;
  }
  
  #control-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 96%;
    min-width: 96%;
    height: 45%;
    min-height: 45%;
  }

  #control-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 96%;
    min-width: 96%;
    height: 35%;
    min-height: 35%;
  }

  #selector-indicator-container {
    width: 100%;
    min-width: 100%;
  }

  #selector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #channel-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: 100%;
    height: 25%;
    min-height: 25%;
    margin: 0;
  }

  #indicator-container {
    height: 82%;
    min-height: 82%;
    width: 80%;
    min-width: 80%;
  }

  #indicators {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(2, 50%);
    height: 75%;
    min-height: 75%;
  }

  #indicators span {
    font-size: 3vw;
  }

  #power-control-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    min-width: 40%;
    height: 18%;
    min-height: 18%;
    margin-top: 1.25%;
  }

  #switch-light-container {
    height: 100%;
    min-height: 100%;
  }

  #power-switch-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 75%;
    min-width: 75%;
    height: 100%;
    min-height: 100%;
  }

  #power-light-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #power-light {
    width: 50%;
    min-width: 50%;
    height: 100%;
    min-height: 100%;
  }


}

/* Mobile */
@media screen and (max-width: 602px) {
  #chasis {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-width: 100%;
    height: 85%;
    min-height: 85%;
  }

  #screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94%;
    min-width: 94%;
    height: 50%;
    min-height: 50%;
    background: #5e360c;
    border-left: 1px solid #4e2d0a;
    border-right: 1px solid #4e2d0a;
    border-radius: 15px 15px 0 0;
    box-shadow: 
      inset 5px 0 5px #4e2d0a,
      inset 3px 3px 5px #6f410f,
      /* inset 0 5px 5px #4e2d0a, */
      inset -5px 0 5px #4e2d0a,
      inset -3px 0px 5px #3a2208;
      /* inset 0 -5px 5px #4e2d0a;; */
    margin: 1% 1% 0% 1%;
  }

  #control-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 94%;
    min-width: 94%;
    height: 55%;
    min-height: 55%;
    background: #5e360c;
    border: 0;
    border-left: 1px solid #4e2d0a;
    border-right: 1px solid #4e2d0a;
    box-shadow: 
      inset 5px 0 5px #4e2d0a,
      inset 3px 3px 5px #6f410f,
      /* inset 0 5px 5px #4e2d0a, */
      inset -5px 0 5px #4e2d0a,
      inset -3px 0px 5px #3a2208;
      /* inset 0 -5px 5px #4e2d0a;; */
    margin: 0% 1% 0% 1%;
  }

  #control-panel {
    display: none;
    /* display: flex; */
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 96%;
    min-width: 96%;
    height: 35%;
    min-height: 35%;
  }

  #selector-indicator-container {
    width: 100%;
    min-width: 100%;
  }

  #selector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #channel-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: 100%;
    height: 25%;
    min-height: 25%;
    margin: 0;
  }

  #indicator-container {
    height: 82%;
    min-height: 82%;
    width: 80%;
    min-width: 80%;
  }

  #indicators {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(2, 50%);
    height: 75%;
    min-height: 75%;
  }

  #indicators span {
    font-size: 3vw;
  }

  #power-control-container {
    display: none;
    /* display: flex; */
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    min-width: 40%;
    height: 18%;
    min-height: 18%;
    margin-top: 1.25%;
  }

  #switch-light-container {
    height: 100%;
    min-height: 100%;
  }

  #power-switch-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 75%;
    min-width: 75%;
    height: 100%;
    min-height: 100%;
  }

  #power-light-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #power-light {
    width: 50%;
    min-width: 50%;
    height: 100%;
    min-height: 100%;
  }
}